* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

@font-face {
    font-family: electronicFont;
    src: url(../fonts/DS-DIGIT.TTF);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-color: white;/*#06164A;*/
    background-size: cover;
    /* 行高是字体1.15倍 */
    line-height: 1.15;
}

header {
    position: relative;
    height: 1.25rem;
    background: url(../img/head_bg.png) no-repeat top center;
    background-size: 100% 100%;
}

header h1 {
    font-size: 0.475rem;
    color: #fff;
    text-align: center;
    line-height: 1rem;
}

header .showTime {
    position: absolute;
    top: 0;
    right: 0.375rem;
    line-height: 0.9375rem;
    font-size: 0.25rem;
    color: black/*rgba(255, 255, 255, 0.7);*/
}
h2{
    position: relative;
    border: 1px solid red;
    height: 0.5rem;/*height CSS 属性指定了一个元素的高度。默认情况下，这个属性决定的是内容区（ content area）的高度，但是，如果将 box-sizing 设置为 border-box , 这个属性决定的将是边框区域（border area）的高度*/
    line-height: 0.6rem;
    text-align: center;
    color: black;/*#fff;*/
    font-size: 0.25rem;
    font-weight: 800;
}
.mainbox {
    min-width: 1024px;
    max-width: 1920px;
    height: 2000px;
    padding: 0.125rem 0.125rem 0;
    display: flex;
}

.mainbox .column {
    flex: 1;
    padding: 0.125rem 0.125rem 0;
    overflow: hidden;
}

.mainbox .column:nth-child(2) {
    flex: 2;
    padding: 0.125rem 0.125rem 0;
    overflow: hidden;
}

.pie {
    position: relative;
    height: 600px;
    border: 1px solid rgba(25, 186, 139, 0.17);
    
    padding: 0 0.1875rem 0.5rem;/* padding will influece box size, while margin not*/
    margin-bottom: 0.1875rem;
}

.pie::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 10px;
    height: 10px;
    border-top: 2px solid #02a6b5;
    border-left: 2px solid #02a6b5;
    border-radius: 20%;
}

.pie::after {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    width: 10px;
    height: 10px;
    border-top: 2px solid #02a6b5;
    border-right: 2px solid #02a6b5;
    border-radius: 20%;
}

.my-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color:black;

}

.my-footer::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #02a6b5;
    border-left: 2px solid #02a6b5;
    border-radius: 20%;
}

.my-footer::after {
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #02a6b5;
    border-right: 2px solid #02a6b5;
    border-radius: 20%;
}




.search_button{
    border: 2px solid red;
    position:absolute;

    top: 20px;
    right:10px;
    height: 30px;
    line-height: 1px;
    text-align: center;
    color:  black;
    font-size: 15px;
    font-weight: 400;

    

}


.pie .chart {
    border: 3px solid red;
    position:relative;
    top: 10px;

    height: 400px;


}

.bar .allcharts {
    border: 3px solid red;
    position:relative;
    top: 10px;

    height: 400px;
    display: flex;
    flex-direction:column
  
}
.bar .allcharts .sub_row{
        flex:2;
        border: 1px solid red;
        position:relative;
        top: 0px;
        left:0;

        height: 200px;
        display: flex;
        flex-direction:row

        
       


}

.bar .allcharts .sub_row .chart {
    border: 1px solid black;
    position:relative;
    top: 0px;
    left:0;
    padding: 0,0,0,0;
   
    height: 200px;
  
}


.bar .allcharts .sub_row .chart:nth-child(3){
    /*flex:5;*/

    flex: 1,0,40%;
}
.bar .allcharts .sub_row .chart:nth-child(4){
    flex: 0,0,20%;
}
.bar .allcharts .sub_row .chart:nth-child(5){
    flex: 0,0,20%;
}
.bar .allcharts .sub_row .chart:nth-child(6){
    flex: 0,0,20%;
}



.inputselection{
    border: 3px solid red;
    position:relative; /* !!!important to use relative, -->commonly used */
    top: 10px;

    height: 60px;
    padding: 0 0.1875rem 0.5rem;
    margin-bottom: 0.1875rem;
    display: flex;
    justify-content : center;

    font-size: 13px;
    font-weight: 100;

  
}


.bar {
    position: relative;
    height: 600px;
    border: 1px solid rgba(25, 186, 139, 0.17);
    
    padding: 0 0.1875rem 0.5rem;/* padding will influece box size, while margin not*/
    margin-bottom: 0.1875rem;
}

.bar:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 10px;
    height: 10px;
    border-top: 2px solid #02a6b5;
    border-left: 2px solid #02a6b5;
    border-radius: 20%;
}

.bar::after {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    width: 10px;
    height: 10px;
    border-top: 2px solid #02a6b5;
    border-right: 2px solid #02a6b5;
    border-radius: 20%;
}


@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes rotate1 {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@media screen and (max-width: 1024px) {
    html {
        font-size: 42px !important;
    }
}

@media screen and (min-width: 1920) {
    html {
        font-size: 80px !important;
    }
}